<!DOCTYPE html>
<html>
<head>
  <title>Catálogo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  
<%- include("partials/header") %>
<main class="main">

  
  <h1>Produtos</h1>
  

  <form action="/products" method="POST">
    <input type="text" name="name" placeholder="Nome" required>
    <input
  type="text"
  name="price"
  placeholder="Preço (ex: 10,50)"
  required
  oninput="this.value = this.value.replace(/[^0-9,]/g, '')"
/>
    <button type="submit">Adicionar</button>
  </form>

  <ul>
    <% products.forEach(p => { %>
      <li>
        <span>
          <strong><%= p.name %></strong> -R$ <%= (p.price / 100).toLocaleString("pt-BR", {
  minimumFractionDigits: 2,
  maximumFractionDigits: 2
}) %>
        </span>

        <div>
          <a href="/up/<%= p._id %>">⬆️</a>
          <a href="/down/<%= p._id %>">⬇️</a>
          <a href="/edit/<%= p._id %>">✏️</a>

          <form action="/products/<%= p._id %>/delete" method="POST" style="display:inline;">
            <button type="submit">❌</button>
          </form>
        </div>
      </li>
    <% }) %>
  </ul>
  </main>
<%- include("partials/footer") %>
</body>
</html>